setuptools
pyaudio
SpeechRecognition
--extra-index-url https://download.pytorch.org/whl/cu121
#--extra-index-url https://download.pytorch.org/whl/cu118
#--extra-index-url https://download.pytorch.org/whl/cu114
torch
numpy
#git+https://github.com/openai/whisper.git
faster-whisper
